The following decision tree algorithm analysis the dataset: `'../datasets/restaurantev2.csv'`.

### üìö **Importa√ß√£o de Bibliotecas**

In [1]:
!pip -q install plotly --upgrade

Este comando foi usado para atualizar o pacote `plotly` para a vers√£o mais recente usando o gerenciador de pacotes `pip`. 

A op√ß√£o **``-q``** significa ‚Äúquiet‚Äù e suprime a sa√≠da do comando, ent√£o nenhuma mensagem ser√° exibida enquanto o pacote estiver sendo instalado. A op√ß√£o **``--upgrade``** indica ao `pip` para atualizar o pacote para a vers√£o mais recente, caso ele j√° esteja instalado. Se o pacote n√£o estiver instalado, a instala√ß√£o ser√° induzida. Sendo que `plotly` √© uma biblioteca de visualiza√ß√£o de dados interativa e de c√≥digo aberto para Python.

In [2]:
!pip -q install yellowbrick

Agora foi instalado o pacote `yellowbrick` usando o gerenciador de pacotes `pip`. Tal como anteriormente, a op√ß√£o **``-q``** suprime a sa√≠da do comando. `yellowbrick` √© um conjunto de ferramentas de an√°lise visual e diagn√≥stico projetado para facilitar o aprendizado de m√°quina com scikit-learn. A biblioteca implementa um novo objeto de API central, o Visualizer, que √© um estimador scikit-learn - um objeto que aprende com os dados.

In [4]:
!pip -q install pandas

Desta vez foi instalado o pacote pandas usando o gerenciador de pacotes pip. O `pandas` √© uma biblioteca de an√°lise de dados que fornece estruturas de dados flex√≠veis e permite a manipula√ß√£o de dados relacionais ou rotulados de forma f√°cil e intuitiva.

In [6]:
!pip -q install seaborn

Por fim, foi instalado o pacote seaborn usando o gerenciador de pacotes pip. O `seaborn` √© uma biblioteca de visualiza√ß√£o de dados baseada em `matplotlib`. Ela fornece uma interface de alto n√≠vel para desenhar gr√°ficos estat√≠sticos atraentes e informativos.

In [7]:
import pandas as pd
import numpy as np
import seaborn as sns
import matplotlib.pyplot as plt
import plotly.express as px

Esta sequ√™ncia de c√≥digo importa cinco bibliotecas Python: `pandas`, `numpy`, `seaborn`, `matplotlib.pyplot` e `plotly.express`, que s√£o comumente usadas juntas para an√°lise e visualiza√ß√£o de dados em Python.

- `numpy` √© uma biblioteca para computa√ß√£o cient√≠fica em Python que fornece um objeto de matriz multidimensional e v√°rias fun√ß√µes para trabalhar com essas matrizes.
- `matplotlib.pyplot` √© um m√≥dulo da biblioteca `matplotlib` que fornece uma interface semelhante ao MATLAB para fazer gr√°ficos.
- `plotly.express` √© um m√≥dulo da biblioteca `plotly`, que √© uma biblioteca de gr√°ficos interativa e de c√≥digo aberto. Ela suporta mais de 40 tipos √∫nicos de gr√°ficos, cobrindo uma ampla gama de casos de uso estat√≠stico, financeiro, geogr√°fico, cient√≠fico e tridimensional.

## üå≤ **Decision Tree Classifier**

In [8]:
from sklearn.tree import DecisionTreeClassifier

Aqui come√ßa de verdade a √Årvore de Decis√£o, o comando foi usado para importar a classe `DecisionTreeClassifier` do m√≥dulo `sklearn.tree`, este √∫ltimo √© um m√≥dulo da biblioteca `scikit-learn`, que √© uma biblioteca de Machine Learning em Python.

Destrinchando mais um pouco; `DecisionTreeClassifier` √© uma classe que implementa um classificador de √°rvore de decis√£o. Ela possui v√°rios par√¢metros que podem ser ajustados para controlar o comportamento do modelo, como o crit√©rio usado para medir a qualidade de uma divis√£o, a estrat√©gia usada para escolher a divis√£o em cada n√≥ e a profundidade m√°xima da √°rvore.

In [22]:
base = pd.read_csv('../datasets/restaurantev2.csv', sep=';', encoding='ISO-8859-1')

Aqui estamos usando a fun√ß√£o `read_csv` da biblioteca `pandas` para ler o arquivo CSV. O separador entre os campos no arquivo CSV √© especificado como ponto e v√≠rgula (`;`) usando o par√¢metro `sep`. Al√©m disso, o par√¢metro `encoding` √© usado para especificar que o arquivo est√° codificado em `ISO-8859-1`. O DataFrame resultante est√° sendo atribu√≠do a uma vari√°vel chamada `base`.

A fun√ß√£o `read_csv` √© usada para ler arquivos CSV (valores separados por v√≠rgula) e converter seu conte√∫do em um DataFrame do pandas. Um DataFrame √© uma estrutura de dados bidimensional, semelhante a uma planilha ou tabela de banco de dados, onde as colunas podem ter tipos diferentes. √â uma das estruturas de dados mais comumente usadas em an√°lise de dados e ci√™ncia de dados.

In [23]:
base

,Exemplo,Alternativo,Bar,Sex/Sab,fome,Cliente,Pre√ßo,Chuva,Res,Tipo,Tempo,conc
0,X1,Sim,N√£o,N√£o,Sim,Alguns,RRR,N√£o,Sim,Franc√™s,0-10,Sim
1,x2,Sim,N√£o,N√£o,Sim,Cheio,R,N√£o,N√£o,Tailand√™s,30-60,N√£o
2,x3,N√£o,Sim,N√£o,N√£o,Alguns,R,N√£o,N√£o,Hamburger,0-10,Sim
3,x4,Sim,N√£o,Sim,Sim,Cheio,R,Sim,N√£o,Tailand√™s,10-30,Sim
4,X5,Sim,N√£o,Sim,N√£o,Cheio,RRR,N√£o,Sim,Franc√™s,>60,N√£o
5,X6,N√£o,Sim,N√£o,Sim,Alguns,RR,Sim,Sim,Italiano,0-10,Sim
6,X7,N√£o,Sim,N√£o,N√£o,Nenhum,R,Sim,N√£o,Hamburger,0-10,N√£o
7,X8,N√£o,N√£o,N√£o,Sim,Alguns,RR,Sim,Sim,Tailand√™s,0-10,Sim
8,X9,N√£o,Sim,Sim,N√£o,Cheio,R,Sim,N√£o,Hamburger,>60,N√£o
9,X10,Sim,Sim,Sim,Sim,Cheio,RRR,N√£o,Sim,Italiano,10-30,N√£o
10,X11,N√£o,N√£o,N√£o,N√£o,Nenhum,R,N√£o,N√£o,Tailand√™s,0-10,N√£o
11,X12,Sim,Sim,Sim,Sim,Cheio,R,N√£o,N√£o,Hamburger,30-60,Sim

Ao executar a vari√°vel **`base`**, o conte√∫do do DataFrame armazenado nessa vari√°vel ser√° exibido na sa√≠da da c√©lula. Isso pode ser √∫til para visualizar rapidamente os dados armazenados no DataFrame. No entanto, se o DataFrame for muito grande, apenas as primeiras e √∫ltimas linhas ser√£o exibidas, juntamente com um resumo das informa√ß√µes do DataFrame.

In [24]:
base.head(5)

,Exemplo,Alternativo,Bar,Sex/Sab,fome,Cliente,Pre√ßo,Chuva,Res,Tipo,Tempo,conc
0,X1,Sim,N√£o,N√£o,Sim,Alguns,RRR,N√£o,Sim,Franc√™s,0-10,Sim
1,x2,Sim,N√£o,N√£o,Sim,Cheio,R,N√£o,N√£o,Tailand√™s,30-60,N√£o
2,x3,N√£o,Sim,N√£o,N√£o,Alguns,R,N√£o,N√£o,Hamburger,0-10,Sim
3,x4,Sim,N√£o,Sim,Sim,Cheio,R,Sim,N√£o,Tailand√™s,10-30,Sim
4,X5,Sim,N√£o,Sim,N√£o,Cheio,RRR,N√£o,Sim,Franc√™s,>60,N√£o

O m√©todo **``head()``** de um DataFrame do pandas retorna as primeiras `n` linhas do DataFrame, onde `n` √© especificado como um argumento para o m√©todo. Se `n` n√£o for especificado, o valor padr√£o √© 5. Neste caso, **``base.head(5)``** retornar√° as primeiras 5 linhas do DataFrame **``base``**. Este m√©todo √© √∫til para inspecionar rapidamente o conte√∫do de um DataFrame para ver se ele cont√©m o tipo certo de dados

In [25]:
base.tail(5)

,Exemplo,Alternativo,Bar,Sex/Sab,fome,Cliente,Pre√ßo,Chuva,Res,Tipo,Tempo,conc
7,X8,N√£o,N√£o,N√£o,Sim,Alguns,RR,Sim,Sim,Tailand√™s,0-10,Sim
8,X9,N√£o,Sim,Sim,N√£o,Cheio,R,Sim,N√£o,Hamburger,>60,N√£o
9,X10,Sim,Sim,Sim,Sim,Cheio,RRR,N√£o,Sim,Italiano,10-30,N√£o
10,X11,N√£o,N√£o,N√£o,N√£o,Nenhum,R,N√£o,N√£o,Tailand√™s,0-10,N√£o
11,X12,Sim,Sim,Sim,Sim,Cheio,R,N√£o,N√£o,Hamburger,30-60,Sim

O m√©todo **``tail()``** de um DataFrame do pandas retorna as √∫ltimas `n` linhas do DataFrame, onde `n` √© especificado como um argumento para o m√©todo. Se `n` n√£o for especificado, o valor padr√£o √© 5. Neste caso, **`base.tail(5)`** retornar√° as √∫ltimas 5 linhas do DataFrame **`base`**. Este m√©todo √© √∫til para inspecionar rapidamente o conte√∫do de um DataFrame para ver se ele cont√©m o tipo certo de dados.